h1 {
 font-family: 'Raleway', sans-serif;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
  height: 70px;
  width: 100px;
}

