.card-category h1 {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0);
  font-size: 24px;
  font-weight: bold;
}

.card-category-show h1 {
  font-size: 30px;
}

.card-category h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
}

.card-category p {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  position: relative;
  left: 10px;

}

.price-tag-content h3 {
  font-size: 14px;
  font-family: "Montserrat", "sans-serif";
  font-weight: bolder;
}

.card-trip-infos i {
  color: $green;
  text-decoration: none;
  font-size: 22px;
  padding: 0px 20px;
  margin: 10px;
}

#link {
  color: rgba(0, 0, 0, 0.5);

  &:hover {
    color: rgba(0, 0, 0, 0.7);
  }
}
