<div class="container minimum-height">
  <h2>Bookings Details</h2>
  <div class="card">
    <div class="card-product">
      <%= cl_image_tag (@booking.garden.photo) %>
      <div class="card-product-infos">
        <h2><%= @booking.garden.title %></h2>
        <p><%= @booking.garden.description%></p>
      </div>
      <div class="card-body" align="right">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>

    <ul class="list-group list-group-flush">
      <li class="list-group-item">Number of people</li>
      <li class="list-group-item">Start date</li>
      <li class="list-group-item">End date</li>
    </ul>

  </div>

</div>

