<div class="my-banner">
  <div class="container">
    <h1 class="mb-2">The grass <strong>is greener</strong> when you <strong>share your garden</strong></h1>
    <p>AirGArden allows you to find the most beautiful gardens around you.</p>
    <div class="d-inline-flex justify-content-between w-50">
      <i><%= link_to "Host a garden", new_garden_path, class: "btn btn-ghost" %></i>
      <i><%= link_to "Book a garden", gardens_path, class: "btn btn-ghost" %></i>
    </div>
  </div>
</div>

