<div class="my-banner">
  <div class="container">
    <h1 class="mb-2">The grass is greener when you share your garden</h1>
    <p><em>AirGarden allows you to find the most beautiful gardens around you</em></p>
    <div class="d-inline-flex justify-content-between w-50">
      <i><%= link_to "Book a garden", gardens_path, class: "btn btn-ghost" %></i>
    </div>
  </div>
</div>

