<div class="my-banner">
  <div class="container">
    <h1>AirGarden <strong>allows</strong> you to <strong>rent gardens for your events around the world!</strong>!</h1>
    <p>Find the most beautiful gardens around you.</p>
  </div>
</div>
<div class="container">
  <div class="d-flex justify-content-center mt-3">
    <label for="searchLocationField"></label>
    <input type="string" id="searchLocationField" value="location">
    <input type="submit" class="btn-ghost">
  </div>
</div>
<div class="container">
  <div class="row">
    <% Garden.all.each do |garden| %>
    <div class="col-3">
      <div class="card-trip">
        <img src="https://res.cloudinary.com/dlo5xbrsn/image/upload/v1575380786/hal-ozart-MyRBq7GoVK0-unsplash_ptwfvg.jpg" />
        <div class="card-trip-infos">
          <div>
            <h2><%= garden.title %></h2>
            <p><%= garden.description %></p>
          </div>
          <h2 class="card-trip-pricing"><%= garden.price %> €</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

