.my-banner {
  background-size: cover;
  background-position: center;
  padding: 300px 0;
  background-image: asset-url('banner2.jpeg');
}

.my-banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 37px;
  font-weight: bold;
}

.my-banner p {
  font-size: 23px;
  color: white;
  opacity: .9;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight: bold;
}

.w-50 {
  width: 32% !important;
}
