.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand {
  text-decoration: none;
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  font-size: 32px;
}

.navbar-light .navbar-brand {
    color: $green;
}

.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
  color: $green;
  opacity: 0.5;
}

.host-garden {
  &:hover {
    opacity: 0.7;
  }
}
